@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background: #efeae1;
  --background50: hsl(39, 20%, 95%);
  --foreground: #daceb9;
  --accent: #e3b261;
  --text: #100c08;

  --s: 8px;
  --m: 12px;
  --xl: 40px;

  --hpad: 105px;
  --vpad: 188px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /*use  100 - 900 for proper weight*/
  font-style: normal;
}
section {
  height: calc(100vh);
}

h1 {
  font-size: 40px;
  line-height: 80px;
  font-family: "Inknut Antiqua", serif;
}
p {
  font-size: 16px;
}

.inknut-regular {
  font-family: "Inknut Antiqua", serif;
  font-size: 16px;
}
.inter-bold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 800; /*use  100 - 900 for proper weight*/
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400; /*use  100 - 900 for proper weight*/
  font-style: normal;
}
.inter-light {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300; /*use  100 - 900 for proper weight*/
  font-style: normal;
}

.flex-container {
  display: flex;
}
.padded {
  padding: var(--vpad) var(--hpad);
}

.nav {
  max-height: 80px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px var(--hpad);
  background-color: var(--background);
}
.home-button {
  align-items: center;
  text-decoration: none;
  color: var(--text);
  gap: var(--m);
}

.logo {
  align-items: center;
  gap: var(--m);

  color: var(--text);
  text-decoration: none;
}

.hero {
  height: calc(100vh - 80px);
  background-color: var(--background);
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.hero > img{
  height: 532px;
  border-radius: 8px;
}

.headline p{
  width: 780px;
  margin-bottom: var(--xl);

  font-size: 20px;
  line-height: 40px;
}
.headline span{
  font-size: 14px;
}
.headline img{
  height: 30px;
}
.headline button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: 240px;
  background-color: var(--accent);
  border: none;
  padding: var(--m);
}

.ingredients{
  height: 100vh;
  box-sizing: border-box;
}
.ingredients h2{
  font-size: 32px;
  color: var(--accent);
}
.ingredients .line{
  height: 2px;
  width: 300px;
  background-color: var(--accent);
  margin-bottom: var(--xl);
}
.ingredients ul {
  margin-left: var(--xl);
  line-height: 40px;
}

.steps{
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--background50);
}
.steps h2{
  font-size: 32px;
  color: var(--accent);
}
.steps .line{
  height: 2px;
  width: 200px;
  background-color: var(--accent);
  margin-bottom: var(--xl);
}
.steps ol {
  margin-left: var(--xl);
  line-height: 40px;
}